/* .game {
margin-top: 500px;
margin-bottom: 550px;
} */

h1 {
    margin-top: 25px;
    margin-left: 500px;
    margin-right:auto;
}

button {
    margin-top: 20px; 
    margin-left: 500px;
    margin-right:auto;
}
/* #rock {
    background-image:'/images/rock.jpg';
    background-position: center;
    background-repeat: no-repeat;
    margin-left:100px;
    padding: 50px;
} */