/* .game {
margin-top: 500px;
margin-bottom: 550px;
} */

h1 {
    margin-top: 25px;
    margin-left: 500px;
    margin-right:auto;
}

button {
    margin-left: 280px;
    margin-right:auto;
    padding: 30px;
}

#rock {
    background-image: url('./images/rock.jpg');
    background-position: center;
    background-repeat: no-repeat;
} 

#paper {
    background-image:url('./images/paper.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

#scissors {
    background-image:url('./images/scissors.jpg');
    background-position: center;
    background-repeat: no-repeat;
}